.navbar {
  background: #e0d396;
}
.navbar .navbar-brand {
  font-weight: 700;
}
.navbar .navbar-brand span {
  color: #fff;
}
.navbar .navbar-collapse {
  flex-grow: 0 !important;
}

.cta-add {
  background: #8bc34a;
  border: 1px solid #8bc34a;
}

.bloc-submit {
  border-top: 1px solid #aaa;
}

#login-form {
  margin-top: 10%;
}
#login-form .card-header {
  padding: 1rem 0;
}
#login-form .card-body {
  padding: 5rem 3rem;
}

.dashboard h1 {
  text-align: center;
}
.dashboard h2 {
  border-bottom: 4px solid #e0d396;
  font-weight: 300;
  line-height: 4rem;
}
.dashboard td.actions {
  text-align: center;
}

.edit h2 {
  border-bottom: 4px solid #e0d396;
  font-weight: 300;
  line-height: 4rem;
}
.edit .display-input {
  text-align: right;
  font-size: 3rem;
}
.edit .display-input-1 {
  text-align: right;
  font-size: 2rem;
}
.edit .display-input-2 {
  text-align: left;
  margin-top: 14px;
}
